/*  colors:
	bg: #f6f4e7;
	fg: #161939;
	title: #790f21;
	g-detail: #8fccb8;
	t-detail: #ede6b9;
*/
body {
	font-family: garamond, palatino, verdana, serif;
	font-weight: 500;
	font-size: 14pt;
	background-color: #f6f4e7;
	color: #161939;
	width: 70%;
	margin-left: 2%;
	min-width: 20em;
}

h1, h2 {
	color: #790f21;
	margin-bottom: 0px;
}

p {
	text-indent: 25px;
	margin-top: 5px;
	margin-bottom: 5px;
}

a , a:visited, a:active {
	color: #2E4F73;
	text-decoration: none;
	border-bottom: 1px #2E4F73 dotted;
}